<div class="text-center bg-gray-100 py-10 mt-10">
    <div class="container mx-auto text-center text-gray-600">
            <p class="pb-2">Built with <a href="https://github.com/minicli/librarian" target="_blank" title="Librarian on GitHub" class="underline">Librarian</a> by <a href="https://twitter.com/erikaheidi" target="_blank">@erikaheidi</a>.</p>
            <p>
                <a href="#"><span class="icon"><i class="fas fa-arrow-alt-circle-up"></i></span> Back to top</a>
            </p>
    </div>
</div>