/* stylelint-disable selector-list-comma-newline-after */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');

:root {
    --highlight1-color: teal;
    --highlight2-color: turquoise;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 2rem;
}

.blog-header-logo {
    font-family: 'Pacifico', cursive;
    font-size: 2.25rem;
    color: var(--highlight1-color);
}

.blog-header-logo:hover {
    text-decoration: none;
    color: var(--highlight2-color);
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

a {
    color: var(--highlight1-color);
}

a:hover  {
    color: var(--highlight2-color);
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

.content .tag, .content .number {
    display: inline;
    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    vertical-align: inherit;
    border-radius: inherit;
    font-weight: inherit;
    white-space: inherit;
    background: inherit;
    margin: inherit;
}