{% extends 'main.html.twig' %}

{% block content %}
    <h1 class="cover-heading">Librarian</h1>
    <p class="lead">Librarian is a tiny CMS for static content, written in PHP on top of <code>minicli</code>. Good for small read-only dynamic pages (content can be pulled from different sources) and documentation. </p>
    <p class="lead">
        <a href="https://github.com/minicli/librarian" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
{% endblock%}

