{% extends 'base.html.twig' %}

{% block title %}Content Not Found{% endblock %}

{% block description %}The requested content was not found.{% endblock %}


{% block content %}
    <h1 class="cover-heading">Ooops... 404</h1>
    <p class="lead">The requested content could not be found.</p>
{% endblock%}

