{% extends 'main.html.twig' %}

{% block title %}Error{% endblock %}

{% block description %}An error happened.{% endblock %}


{% block content %}
    <h1 class="cover-heading">Ooops... </h1>
    <p class="lead">An error happened.</p>
{% endblock%}
