<footer class="footer">
    <div class="content has-text-centered">
        <p>Built with <a href="https://github.com/minicli/librarian" target="_blank">Librarian</a> by <a href="https://twitter.com/erikaheidi" target="_blank">@erikaheidi</a>.</p>
        <p>
            <a href="#"><span class="icon"><i class="fas fa-arrow-alt-circle-up"></i></span>Back to top</a>
        </p>
    </div>
</footer>