<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        {% for tag_name, posts in tag_list() %}
            <a class="p-2 text-muted" href="/tag/{{ tag_name }}">{{ tag_name }}</a>
        {% endfor %}
    </nav>
</div>